:root{
    color-scheme: light dark;
}
.header{
    display: flex;
    justify-content: center;
    align-content: center;
}
.addBook{
    position: relative;
    cursor: pointer;
}
.addBook .popupText {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 25vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.addBook .show{
    visibility: visible;
    -webkit-animation: fadeIn 0.25s;
    animation: fadeIn 0.25s
}
#close{
    width:25%;
}
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}