:root{
    color-scheme: light dark;
}
html{
    width: 75vw;
    margin: auto;
}
.header{
    display: flex;
    justify-content: center;
    align-content: center;
}
.addBook{
    position: relative;
    cursor: pointer;
    gap: 12px; 
}
.addBook .popupText {
    display: flex;
    margin: auto;  
    flex-direction: column;
    visibility: hidden;
    width: 25vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
}
#myPopup{
    gap: 12px;
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.addBook .show{
    visibility: visible;
    -webkit-animation: fadeIn 0.25s;
    animation: fadeIn 0.25s
}
lable{
    display:flex;
    flex-direction:row;
}
#close{
    width:25%;
}
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
